/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 0;
  padding: 0 0 0.5em;
  text-align: center;
  font-size: 1.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.timerPanel {
  background-image: url(../img/herotworooms.jpg);
  background-position: center 0;
  background-repeat: no-repeat;

  padding-top: 246px;
  height: 225px;
  text-align: center;
}

.message {
  font-size: 2em;
}

.timer {
  color: red;
  background-color: black;
  font-family: Courier
  font-weight: bold;
  font-size: 5em;
  line-height: 1.25em;
}

fieldset {
  margin: .5em;
  border: solid 1px white;
  -webkit-padding-before: 0.35em;
  -webkit-padding-start: 0.75em;
  -webkit-padding-end: 0.75em;
  -webkit-padding-after: 0.625em;
  width: 100px;
}

label {
  padding: 3px 2px;
}

legend {
  -webkit-padding-start: 2px;
  -webkit-padding-end: 2px;
}

.timerBtns {
  width: 100%;
  text-align: center;
}

.timerBtn {
  float: none;
  color: white;
  padding: 20px 40px;
  font-size: 1.2em;
  border: 2px solid #fff;
  font-weight: bold;
  border-radius: 5px;
  background-color: rgba(0,0,0,0);
}

.timerBtn:disabled {
  opacity: 0.6;
}

body {
  background-color: #5A0003;
  font-family: 'Rambla', sans-serif;
  color: white;
}

a {
  color: white;
}

@media only screen and (max-device-width: 480px) {

  .message {
    font-size: 1.5em;
  }

  .timer {
    font-size: 3em;
  }

  .timerPanel {
    background-size: 1100px;
    padding-top: 183px;
    height: 176px;
  }

}
